[Unit]
Description=Send RSS updates over email.

[Service]
Type=oneshot
EnvironmentFile=/etc/rss-synchronizer.conf
ExecStart=/usr/bin/rss-synchronizer.js
