[Unit]
Description=Send RSS updates over email
After=network.target

[Service]
Environment=DEBUG=*
ExecStart=/usr/bin/rss-synchronizer
WorkingDirectory=/var/lib/rss-synchronizer/

[Install]
WantedBy=multi-user.target
